# Ignore node_modules directory
node_modules/


__pycache__/


# Ignore log files
*.log

# Ignore environment files
.env
.venv
env/
venv/
env.bak/
venv.bak/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore compiled Java class files
*.class

# Ignore IntelliJ IDEA files
.idea/
*.iml